.DS_Store
Thumbs.db

.idea/
.vscode/

client/node_modules/
client/node_modules.bad-*/
client/.next/
client/out/
client/*.log
client/*.out
client/*.err
client/package-lock.bad-*.json

server/target/
server/.mvn/
server/*.log
server/*.out
server/*.err
server/package-lock.json

*.class
*.jar
*.war

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
